<launch>

  <node pkg="fixed_hk_onvif" type="read_temperature.py" name="raw_temp_node" respawn="false" output="screen">
      <param name="camera_id" type="int" value="1"/>
      <param name="device_ip" value="192.168.1.66"/>
      <param name="device_port" value="80"/>
      <param name="device_username" value="admin"/>
      <param name="device_password" value="abcd1234"/>
      <param name="url" value="http://192.168.1.65/ISAPI/Thermal/channels/2/thermometry/jpegPicWithAppendData?format=json"/>
      <param name="show_image" type="bool" value="false"/>
  </node>
  
</launch>


