<launch>
  <node pkg="fixed_control" type="slide_node" name="slide_node" output="screen" respawn="false">
      <param name="robot_id" type="int" value="2"/>
      <param name="finish_topic" type="str" value="/ydmsg/platform/keep"/>
      <!-- <param name="test_file" value="$(find fixed_control)/launch/task.json"/> -->
      <param name="test_file" value="$(find fixed_control)/launch/shujia.json"/>
  </node>
</launch>
